@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-10 inline-flex items-center justify-center rounded-md px-4 text-sm font-medium transition;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-900 hover:bg-gray-300;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
}
